<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weit</title>

    <link rel="stylesheet" href="/stylesheets/index.css">

    <script src="/javascripts/index.js"></script>
</head>

<body>
    <table>
        <tr>
            <th>week</th>
            <th>link</th>
            <th>status</th>
            <th>action</th>
            <th>code</th>
        </tr>
        {{{praktika}}}
    </table>
</body>

</html>