#gamemodes {
    margin-top: 0.25em;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-header {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: center;
}

P {
    margin-bottom: 0.5em;
    text-align: center
}