<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="stylesheet" href="./stylesheets/user.css">
</head>

<body>
    Diese Seite ist nicht für die Allgemeinheit gedacht.<br>
    Wenn Sie nicht Teil der Administration sind, verlassen Sie bitte die Seite. 👉👈<br>

    <br>

    <table>
        <tr>
            <th>username</th>
            <th>note*</th>
        </tr>
        {{{table}}}
    </table>

    * Nichtabgabe oder Plagiatsversuche werden ebenfalls mit 5.0 bewertet!
</body>

</html>