<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>

    <link rel="stylesheet" href="./stylesheets/user.css">
</head>

<body>
    <div>
        {{user}} sei mir gegrüßt, hier in Frankfurt am Main im Herzen von Europa in meinem wunderbaren kleinen Lädchen, an einem fantastischen Tag. Und schau mal, was ich dir mitgebracht habe:
    </div>

    <br>

    <table>
        <tr>
            <th>username</th>
            <th>note</th>
            <th>note_str</th>
        </tr>
        <tr>
            <td>{{user}}</td>
            <td>{{note}}</td>
            <td>{{note_str}}</td>
        </tr>
    </table>

    <br>

    <!-- und verlinken Sie diese in der info_tpl.html. -->
    <div>
        <a href="https://weit.tmwnd.de/h11/logout">logout</a>
    </div>
</body>

</html>