<!-- Ihr Projekt enthält dafür die Datei register.html.
Diese zeigt bei einem Aufruf ein Formular mit drei Formularfeldern an, in das Name, Passwort und eine Note eingegeben werden können.  -->

<!-- Ihre register.html sollte sich aktuell im Ordner public befinden, da es sich um eine statische Datei handelt.
Sehen Sie nun in Ihrer register.html einen Bereich vor, in dem Sie Textmeldungen per Template-Engine einfügen können.
register.html wird dadurch nun zu einer Template-Datei und sollte daher in den Ordner views verschoben werden.
Benennen Sie Ihre register.html in register_tpl.html um und sehen Sie einen Bereich für die Fehlermeldung vor (analog zu Aufgabe 6 - Node.js & HTML - Teil 2)
-> erneute Frage: wenn die Art der Datei aus dem Pfad entnehmbar ist, wieso nochmal im Namen? -->

<!DOCTYPE html>
<html>

<head>
    <title>Registrierung</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="./../stylesheets/error.css">
</head>

<body>
    <div class="error">
        <div class="error">{{err}}</div>
    </div>

    <form method="POST" action="/h11/register">
        <div>
            <label for="inputName">Benutzername:</label>
            <input type="text" name="user" id="inputName" placeholder="Name">
        </div>

        <div>
            <label for="inputPasswort">Passwort:</label>
            <input type="password" name="pw" id="inputPasswort" placeholder="Passwort">
        </div>

        <div>
            <label for="inputNote">Note:</label>
            <input type="number" name="note" id="inputNote" placeholder="Note">
        </div>

        <div>
            <button type="submit">Registrieren</button>
        </div>
    </form>

    <!-- Verlinken Sie die register.html in Ihrer login.html mittels <a>-Tag. -->
    or if you already have an account:
    <a href="https://weit.tmwnd.de/h11/login">login</a>
</body>

</html>